/* estilo do corpo da página */
:root {
  --primary-color: rgb(241, 96, 59);
  --secondary-color: rgb(238, 73, 31);
  --third-color: rgb(49, 54, 56);
}
body {
  width: 800px; /* largura de página em pixels*/
  margin: auto; /* espaçamento externo automático à esquerda e à direita.*/
  margin-top: 50px; /* espaçamento externo superior */
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px; /* espaçamento interno nos quatro lados */
  box-sizing: border-box;
  font-family: sans-serif;
}

ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  width: 8rem;
  text-align: center;
  border-radius: 5px;
  margin: 0.5rem;
  display: block;
  border: black solid 0.1rem;
  text-shadow: var(--third-color) 1px 1px;
}

a:hover {
  background-color: var(--secondary-color);
}

h1,
h2 {
  border-radius: 0.5rem;
  border: 0.1rem black solid;
  padding-left: 1rem;
  color: white;
  background-color: var(--primary-color);
}

h3 {
  padding-left: 1rem;
  text-shadow: var(--secondary-color) 0.5px 0.5px;
}

button {
  border-radius: 0.5px;
}

/* estilo do cabeçalho do main */
header {
  margin-top: 10px;
}

main {
  margin-top: 20px;
}

footer {
  padding-left: 1rem;
}

div {
  margin-top: 20px;
  padding-left: 1rem;
}

/*Medias queries*/
@media (max-width: 800px) {
  body {
    width: 430px;
  }
}
